<div class="container well">
  <div class="row">
    <div class="col-md-6">
      <div class="google-map">
        <agm-map [latitude]="lat" [longitude]="log"></agm-map>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="pb-3 align-left mbr-fonts-style display-2">
        Drop a Line
      </h2>
      <div>
        <div class="icon-block pb-3">
          <span class="icon-block__icon">
                            <span class="mbri-letter mbr-iconfont" media-simple="true"></span>
          </span>
          <h4 class="icon-block__title align-left mbr-fonts-style display-5">
            Don't hesitate to contact us
          </h4>
        </div>
        <div class="icon-contacts pb-3">
          <h5 class="align-left mbr-fonts-style display-7">
            Ready for offers and cooperation
          </h5>
          <p class="mbr-text align-left mbr-fonts-style display-7">
            Phone: +1 (0) 000 0000 001 <br> Email: youremail@mail.com
          </p>
        </div>
      </div>
      <div data-form-type="formoid">
        <div data-form-alert="" hidden="">
          Thanks for filling out the form!
        </div>

        <form [formGroup]="emailForm" class="block mbr-form">
          <div class="row">
            <div class="col-md-6 multi-horizontal" data-for="name">
              <input type="text" class="form-control input" name="name" data-form-field="Name" placeholder="Your Name" required="" id="name-form4-2y">
            </div>
            <div class="col-md-6 multi-horizontal" data-for="phone">
              <input type="text" class="form-control input" name="phone" data-form-field="Phone" placeholder="Phone" required="" id="phone-form4-2y">
            </div>
            <div class="col-md-12" data-for="email">
              <input type="text" class="form-control input" name="email" data-form-field="Email" placeholder="Email" required="" id="email-form4-2y">
            </div>
            <div class="col-md-12" data-for="message">
              <textarea class="form-control input" name="message" rows="3" data-form-field="Message" placeholder="Message" style="resize:none"
                id="message-form4-2y"></textarea>
            </div>
            <div class="input-group-btn col-md-12" style="margin-top: 10px;">
              <button href="" type="submit" class="btn btn-primary btn-form display-4">SEND MESSAGE</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>