.img-responsive {
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.row {
    margin-bottom: 10px;
}

.line-breaker {
  white-space: pre-wrap;
}