<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        <span class="glyphicon glyphicon-th-list"></span> Admin Panel
      </h2>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <a routerLink="products/create" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> <br/>Create new Product</a>
          <a routerLink="products/edit" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-pencil"></span> <br/>Edit existing Product</a>
          <a routerLink="categories/create" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> <br/>Create new Category</a>
          <a routerLink="categories/edit" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-pencil"></span> <br/>Edit existing Category</a>
        </div>
      </div>
    </div>

  </div>

  <router-outlet></router-outlet>

</div>