<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        <span class="glyphicon glyphicon-th-list"></span> Admin Panel
      </h2>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-2 col-md-12 text-center">
          <a routerLink="products/create" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
            <br/>Create new Product</a>
          <a routerLink="products/edit" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-pencil"></span>
            <br/>Edit existing Product</a>
          <a routerLink="categories/create" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
            <br/>Create new Category</a>
          <a routerLink="categories/edit" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-pencil"></span>
            <br/>Edit existing Category</a>
        </div>
      </div>
      <div class="row">
        <div class="col-2 col-md-12 text-center">
          <a routerLink="orders/sent" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-list"></span>
            <br/>Sent Orders</a>
          <a routerLink="orders/completed" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-list"></span>
            <br/>Completed Orders</a>
        </div>
      </div>
    </div>

  </div>

  <router-outlet></router-outlet>

</div>