<h2>
  Customer information:
</h2>
<div class="row">
  <div *ngIf="customer" class="col-md-6 col-md-offset-2">
    <div class="row">
      <h3>Full name:
        <b>{{ customer.firstName }} {{ customer.lastName }}</b>
      </h3>
    </div>
    <div class="row">
      <h3>Email:
        <b>{{ customer.email }}</b>
      </h3>
    </div>
    <div class="row">
      <h3>Address:
        <b>{{ customer.country}}, {{ customer.address }}</b>
      </h3>
    </div>
    <div class="row">
      <h3>Phone:
        <b>{{ customer.phone }}</b>
      </h3>
    </div>
  </div>
</div>

<h2>
  Order items:
</h2>

<div class="panel-body">

  <!-- Table colums -->
  <div class="row text-center">
    <div class="col-xs-5">
      <b>Product</b>
    </div>
    <div class="col-xs-2">
      <b>Quantity</b>
    </div>
    <div class="col-xs-2">
      <b>Price</b>
    </div>
    <div class="col-xs-2">
      <b>Total</b>
    </div>
  </div>
  <hr>

  <!-- Table rows -->
  <div *ngFor="let orderItem of orderItems; let i = index">
    <div class="row text-center">
      <div class="col-xs-2">
        <img class="img-responsive" [src]="productService.getImageUrl(orderItem.product.mainImageName)">
      </div>
      <div class="col-xs-3">
        <h4 class="product-name">
          <strong>{{ getSummaryTitle(orderItem.product.title) }}</strong>
        </h4>
      </div>
      <div class="col-xs-2">
        <h4>{{ orderItem.quantity }}</h4>
      </div>
      <div class="col-xs-2">
        {{ orderItem.product.price }}
        <b>$</b>
      </div>
      <div class="col-xs-2">
        {{ orderItem.product.price * orderItem.quantity }}
        <b>$</b>
      </div>
    </div>
    <hr>
  </div>

  <!-- Panel Footer -->
  <div class="panel-footer">
    <div class="row text-center">
      <div class="col-xs-9">
        <h4 class="text-right">Total Price:
          <strong>{{ getTotalPrice() }} $</strong>
        </h4>
      </div>
      <div class="col-xs-3">
        <button type="button" class="btn btn-warning btn-block" (click)="changeOrderStatusToSent()">
          Move to sent orders
        </button>
      </div>
    </div>
  </div>

</div>