<div>
    <div class="col-md-12">
        <h2 class="page-header"> Enter your credentials </h2>
        <form class="form" [formGroup]="loginForm" (submit)="onLoginSubmit()">

            <!-- Username -->
            <div class="form-group">
                <label for="username">Username</label>
                <div [ngClass]="{ 'has-error': loginForm.controls.username.errors && loginForm.controls.username.dirty }">
                    <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username">
                    <ul class="help-block">
                        <div *ngIf="loginForm.controls.username.dirty">
                            <li *ngIf="loginForm.controls.username.errors?.required">This field is required</li>
                        </div>
                    </ul>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password ">Password</label>
                <div [ngClass]="{ 'has-error': loginForm.controls.password.errors && loginForm.controls.password.dirty }">
                    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
                    <ul class="help-block">
                        <div *ngIf="loginForm.controls.password.dirty">
                            <li *ngIf="loginForm.controls.password.errors?.required"> This field is required</li>
                        </div>
                    </ul>

                </div>
                <!--<div class="help-block text-right "><a href=" ">Forget the password ?</a></div>-->
            </div>

            <!-- Sign in button -->
            <div class="form-group">
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>

            <!--
            <div class="checkbox ">
                <label>
                <input type="checkbox "> keep me logged-in
                </label>
            </div>
            -->

        </form>
    </div>
    <div class="bottom text-center ">
        <b>New here ?<a routerLink="/register">Join Us</a></b>
    </div>
</div>